@model List<CheckAndLocate.ViewModels.DefectoskopViewModel>

@{
    ViewData["Title"] = "Данные дефектоскопа";
}

@*<div><b>Данные в табличном виде</b><br /></div>*@
<span><span  class="label label-success" style="font-size:16px;">Данные успешно загружены</span> <input type="button" class="btn btn-primary" value="Отобразить результат на карте"  onclick="location.href='@Url.Action("GetMap", "Defectoskop")'"/> </span>
    <table class="table table-bordered table-responsive table-hover">
        <tr>
            <th>Порядковый номер записи</th>
            <th>Тег раздела</th>
            <th>Время считывания (мкс) </th>
            <th>Дистанция (0.01мм)</th>
            <th>Первый одометр</th>
            <th>Второй одометр</th>
            <th>Угол поворота дефектоскопа</th>
            <th>Флаги сканирования</th>
            <th>Пройденный путь</th>
            <th>Статус</th>
        </tr>
        @foreach (var d in Model)
        {
    <tr>
        <td>@d.Index</td>
        <td>@d.Tag</td>
        <td>@d.Time</td>
        <td>@d.Dist</td>
        <td>@d.Wheel1_v</td>
        <td>@d.Wheel2_v</td>
        <td>@d.Angle</td>
        <td>@d.Flags</td>
        <td>@d.Dist_ext</td>
        <td>@d.Status</td>
    </tr>

        }
    </table>
